<% provide(:title, 'Cotiza') %>
<script>
	var tipo = ".interseccion"
	var numero = ".numero"
	var numero_destinos = 0;
	var total = 0;

	$(document).ready(function() {

		// Prepara formato de fecha
		$('.fecha').find('select').each(function() {
	        $(this).attr("class", 'span1'); 
	    });

		// Prepara formularios de puntos
		$('.interseccion').hide();
		$('.interseccion_destino').hide();
		$('.load').hide();
		bloquear_formulario('.destino');

		// Trae los puntos si estos existen en session
		$.ajax({
            type: 'POST',
            dataType: 'json',
            url: '<%= cotiza_puntos_entregar_path %>',
            // Mostramos un mensaje con la respuesta de PHP
            success: function(data) {
            	$('.tabla-contenido').remove();

            	if (data.length > 0) {
            		var items = [];
	            	numero_destinos = 0;

	            	$.each(data, function(key,val){
	            		numero_destinos++;

	            		var items = [];
	            		if (key == 0) {
	            			llenar_formulario(val);
	            			bloquear_formulario('.origen');
	            			habilitar_formulario('.destino');
	            			$('.reset').removeAttr("disabled"); 
	            			items.push('<td>Origen</td>');
	            		} else {
	            			items.push('<td>' + key + '</td>');
	            		}
	            		items.push('<td>' + val.calle + '</td>');
	            		if (val.tipo == 0) {
	            			items.push('<td>Dirección</td>');
	            			items.push('<td>' + val.numero + '</td>');
	            		} else {
	            			items.push('<td>Intersección</td>');
	            			items.push('<td>' + val.interseccion + '</td>');
	            		}
	            		items.push('<td>' + val.comuna + '</td>');
	            		items.push('<td>Acciones</td>');

	            		$('<tr/>', {
						    'class': 'tabla-contenido',
						    html: items.join('')
						}).appendTo('.lista-puntos');
	            	});
            	}

            	$('.text-destinos').html(numero_destinos);
            }
        })

		// Interceptamos el evento submit
	    $('.new_punto').submit(function() {

	    	$('.load').show();

	    	var limpiar = true;

	    	if ($(this).attr('class') == "new_punto origen") {
	    		habilitar_formulario('.destino');
	    		tipo = ".interseccion";
	    		numero = ".numero";
	    		limpiar = false;
	    	} else {
	    		tipo = ".interseccion_destino";
	    		numero = ".numero_destino";
	    	}

	  		// Enviamos el formulario usando AJAX
	        $.ajax({
	            type: 'POST',
	            dataType: 'json',
	            url: $(this).attr('action'),
	            data: $(this).serialize(),
	            // Mostramos un mensaje con la respuesta de PHP
	            success: function(data) {
	            	$('.tabla-contenido').remove();
	            	var items = [];
	            	numero_destinos = 0;

	            	$.each(data, function(key,val){
	            		numero_destinos++;

	            		var items = [];
	            		if (key == 0) {
	            			items.push('<td>Origen</td>');
	            		} else {
	            			items.push('<td>' + key + '</td>');
	            		}
	            		items.push('<td>' + val.calle + '</td>');
	            		if (val.tipo == 0) {
	            			items.push('<td>Dirección</td>');
	            			items.push('<td>' + val.numero + '</td>');
	            		} else {
	            			items.push('<td>Intersección</td>');
	            			items.push('<td>' + val.interseccion + '</td>');
	            		}
	            		items.push('<td>' + val.comuna + '</td>');
	            		items.push('<td>Acciones</td>');

	            		$('<tr/>', {
						    'class': 'tabla-contenido',
						    html: items.join('')
						}).appendTo('.lista-puntos');
	            	});

	            	$('.text-destinos').html(numero_destinos);

	            	

					if (limpiar) {
						limpiar_formulario('.destino');
						$('#punto_tipo_0_destino').attr('checked', 'checked');
						$(tipo).hide();
						$(numero).css('display', 'inline-block');
					}

					bloquear_formulario('.origen');
					$('.reset').removeAttr("disabled"); 
					tipo = ".interseccion_destino";
	    			numero = ".numero_destino";
	            }
	        })

	        $('.load').hide();
	        return false;
	    });

	    $('.destino_0').click(function() {
	    	$(tipo).hide();
	    	$(numero).css('display', 'inline-block');
	    });

	    $('.destino_1').click(function() {
	    	$(tipo).css('display', 'inline-block');
	    	$(numero).hide();
	    });

	    // Resetea puntos
	    $('.reset').click(function() {
	    	if (confirm("Está seguro que quiere comenzar nuevamente? (Se eliminaran todos los destinos ingresados)")) {
	    		$.ajax({
		            type: 'POST',
		            url: '<%= cotiza_puntos_eliminar_path %>',
		            // Mostramos un mensaje con la respuesta de PHP
		            success: function() {
		            	$('.tabla-contenido').remove();

		            	// Prepara formularios de puntos
						$('.interseccion').hide();
						$('.interseccion_destino').hide();
						$('.numero').css('display', 'inline-block');
						$('.numero_destino').css('display', 'inline-block');
						limpiar_formulario('.origen');
						limpiar_formulario('.destino');
						$('#punto_tipo_0').attr('checked', 'checked');
						$('#punto_tipo_0_destino').attr('checked', 'checked');
						bloquear_formulario('.destino');
						habilitar_formulario('.origen');
						tipo = ".interseccion"
						numero = ".numero"
						$('.text-destinos').html("0");
		            }
	        	});
	    	}
	    });

	});

	function llenar_formulario(valor) {
		$('.origen input[name="punto[calle]"]').val(valor.calle)
		$('.origen input[name="punto[numero]"]').val(valor.numero)
		$('.origen input[name="punto[interseccion]"]').val(valor.interseccion)
		$('.origen input[name="punto[comuna]"]').val(valor.comuna)
		if (valor.tipo == 0) {
			$('.origen input[id="punto_tipo_0"]').attr('checked', 'checked');
			$('.origen input[id="punto_tipo_1"]').removeAttr('checked');
		} else {
			$('.origen input[id="punto_tipo_1"]').attr('checked', 'checked');
			$('.origen input[id="punto_tipo_0"]').removeAttr('checked');
			$('.interseccion').css('display', 'inline-block');
			$('.numero').hide();
		}
	}

	function limpiar_formulario(ele) {

	    $(ele).find(':input').each(function() {
	        switch(this.type) {
	            case 'password':
	            case 'select-multiple':
	            case 'select-one':
	            case 'text':
	            	$(this).val('');
	                break;
	            case 'textarea':
	                $(this).val('');
	                break;
	            case 'checkbox':
	            case 'radio':
	                this.checked = false;
	                break;
	        }
	    });

	}

	function bloquear_formulario(ele) {

	    $(ele).find(':input').each(function() {
	        $(this).attr("disabled", true); 
	    });

	}

	function habilitar_formulario(ele) {

	    $(ele).find(':input').each(function() {
	        $(this).removeAttr("disabled"); 
	    });

	}
</script>
<div class="center hero-unit">
	<!-- Mensajes -->
	<% if flash[:notice] %>
      	<p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      	<p class="error"><%= flash[:error] %></p>
    <% end %>

    <div class="form_puntos origen">
    	<div class="titulo">Origen <button class="btn btn-danger btn-mini reset" type="button">Comenzar Nuevamente</button></div>
		<%= form_for @punto_origen, :url => cotiza_puntos_agregar_path, html: { class: "new_punto origen", id: "new_punto_origen" } do |form| %>
			<fieldset class="fields">
				<div class="field">
					<%= form.label :calle %>
					<%= form.text_field :calle, size: 5 %>
				</div>

				<div class="field numero">
					<%= form.label :numero, "Número" %>
					<%= form.text_field :numero %>
				</div>

				<div class="field interseccion">
					<%= form.label :interseccion, "Intersección" %>
					<%= form.text_field :interseccion %>
				</div>

				<div class="field">
					<%= form.label :comuna %>
					<%= form.text_field :comuna %>
				</div>

				<div class="field tipo">
					<%= form.label :tipo %>
					<div><%= form.radio_button :tipo, "0", { checked: "checked", class: "destino_0" } %> <label for="punto_tipo_0">Dirección</label></div>
					<div><%= form.radio_button :tipo, "1", { class: "destino_1" } %> <label for="punto_tipo_1">Intersección</label></div>
				</div>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Buscar", class: "btn btn-info" %>
				<div class="btn load origen" disabled ><span><%= image_tag("loading.gif", class: "loading") %></span></div>
			</fieldset>
		<% end %>
	</div>

	<div class="form_puntos destino">
    	<div class="titulo">Destino</div>
		<%= form_for @punto_destino, :url => cotiza_puntos_agregar_path do |form| %>
			<fieldset class="fields">
				<div class="field">
					<%= form.label :calle %>
					<%= form.text_field :calle, size: 5 %>
				</div>

				<div class="field numero_destino">
					<%= form.label :numero, "Número" %>
					<%= form.text_field :numero %>
				</div>

				<div class="field interseccion_destino">
					<%= form.label :interseccion, "Intersección" %>
					<%= form.text_field :interseccion %>
				</div>

				<div class="field">
					<%= form.label :comuna %>
					<%= form.text_field :comuna %>
				</div>

				<div class="field tipo">
					<%= form.label :tipo %>
					<div><%= form.radio_button :tipo, "0", { checked: "checked", id: "punto_tipo_0_destino", class: "destino_0" } %> <label for="punto_tipo_0_destino">Dirección</label></div>
					<div><%= form.radio_button :tipo, "1", { id: "punto_tipo_1_destino", class: "destino_1" } %> <label for="punto_tipo_1_destino">Intersección</label></div>
				</div>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Buscar", class: "btn btn-info" %>
				<div class="btn load destino" disabled ><span><%= image_tag("loading.gif", class: "loading") %></span></div>
			</fieldset>
		<% end %>
	</div>

	<div class="form_contacto">
		<div class="titulo">Cotiza</div>
		<%= form_for @cotizacion, :url => cotiza_path do |form| %>
			<fieldset class="fields">
				<div class="field">
					<%= form.label :nombre %>
					<%= form.text_field :nombre %>
				</div>

				<div class="field">
					<%= form.label :telefono, "Teléfono" %>
					<%= form.text_field :telefono %>
				</div>

				<div class="field">
					<%= form.label :email, "E-Mail" %>
					<%= form.text_field :email, placeholder: "nombre@dominio.com" %>
				</div>

				<div class="field fecha">
					<%= form.label :fecha, "Fecha Viaje" %>
					<%= form.datetime_select :fecha, start_year: Date.current.year, end_year: Date.current.year + 5, 
													order: [:day, :month, :year], default: 5.days.from_now, minute_step: 10 %>
				</div>

				<div class="field-linea">
					<%= form.label :numero_personas, "Número de Personas" %>
					<%= form.text_field :numero_personas, { class: "input-mini" } %>
				</div>
				<div class="field-linea">Número de Destinos <span class="input-mini uneditable-input text-destinos">0</span></div>
				<div class="field-linea">Total Aproximado <span class="input-mini uneditable-input text-total">0</span></div>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Solicitar", class: "btn btn-info" %>
			</fieldset>
		<% end %>
	</div>

	<div class="puntos">
		<div class="header" ><span class="titulo" >Lista de Destinos</span></div>
		<div class="contenido">
			<table class="lista-puntos">
				<tr class="cabecera">
					<th class="inicio">Destino</th>
					<th>Calle</th>
					<th>Tipo</th>
					<th>Número/Intersección</th>
					<th>Comuna</th>
					<th class="fin">Acciones</th>
				</tr>
				<tr class="tabla-contenido">
					<td>1</td>
					<td>Calle 1</td>
					<td>Intersección</td>
					<td>Calle 2</td>
					<td>Comuna1</td>
					<td>Acciones</td>
				</tr>
				<tr class="tabla-contenido">
					<td>2</td>
					<td>Calle 3</td>
					<td>Dirección</td>
					<td>123123</td>
					<td>Comuna1</td>
					<td>Acciones</td>
				</tr>
			</table>
		</div>
		<div class="footer" ></div>
	</div>
</div>
