<% provide(:title, 'Administrador - Cotizaciones') %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "listado" %>
<% end %>
<div class="center hero-unit">
	<a href="/admin/logout" class="btn btn-primary logout">Desconectar</a>
	<h1>Cotizaciones</h1>

	<div class="puntos">
		<div class="header" ><span class="titulo" >Cotizaciones Pendientes</span></div>
		<div class="contenido">
			<table class="lista-puntos">
				<tr class="cabecera">
					<th class="inicio">Nombre</th>
					<th>Teléfono</th>
					<th>E-Mail</th>
					<th>Número de Personas</th>
					<th>Fecha</th>
					<th>Destinos</th>
					<th class="fin">Acciones</th>
				</tr>
				<% @cotizaciones.each do |cotizacion| %>
					<tr class="listado-contenido" id="row-<%= cotizacion.id %>">
						<td><%= cotizacion.nombre %></td>
						<td><%= cotizacion.telefono %></td>
						<td><%= cotizacion.email %></td>
						<td><%= cotizacion.numero_personas %></td>
						<td><%= cotizacion.fecha %></td>
						<td>
							<button class="btn btn-mini btn-info" type="button" onclick="mostrar_caja('#box-<%= cotizacion.id %>');"><%= cotizacion.puntos.length %></button>
							<div class="box-puntos" id="box-<%= cotizacion.id %>">
								<div><i class="icon-remove-circle ocultar-box"></i></div>
								<table>
									<tr class="cabecera-puntos">
										<th>Calle</th>
										<th>Tipo</th>
										<th>Número/Intersección</th>
										<th>Comuna</th>
									</tr>
									<% cotizacion.puntos.each do |punto| %>
										<tr>
											<td><%= punto.calle %></td>
											<% if punto.tipo = 0 %>
												<td>Dirección</td>
												<td><%= punto.numero %></td>
											<% else %>
												<td>Intersección</td>
												<td><%= punto.interseccion %></td>
											<% end %>
											<td><%= punto.comuna %></td>
										</tr>
									<% end %>
								</table>
							</div>
						</td>
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<button class="btn" onclick="eliminar_cotizacion('<%= cotizacion.id %>');"><i class="icon-remove"></i></button>
								</div>
							</div>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="footer" ></div>
	</div>
</div>
